.marketing .column-css{
	text-align: center;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}
.marketing h3{
	font-weight: 100;
}
.marketing .column-css p{
	margin-left: .75rem;
	margin-right: .75rem
}



<div class="progress">
	<div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%"> 20% </div>
	<div class="panel panel-danger">

    	<div class="panel-heading">Your Current Status</div>
    	<div class="panel-body">You need to work much harder, dude! Do not give up easily.</div>
	</div>
</div>