@import url(https://fonts.googleapis.com/css?family=Expletus+Sans);

body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
}


.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite; 
}
@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/* SMALL portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (min-width: 768px) {
  .name {
    font-size: 1.5em; }
  .resume-column {
    text-align: left; } }

@media screen and (max-width: 680px) {
  ul.menu li {
    display: none; }
  ul.menu li.hamburger {
    float: right;
    display: inline-block; }
  ul.menu.responsive {
    position: relative; }
  ul.menu.responsive li.hamburger {
    position: absolute;
    right: 0;
    top: 0; }
  ul.menu.responsive li {
    float: none;
    display: inline; }
  ul.menu.responsive li a {
    display: block;
    text-align: right; } }

/* MEDIUM tablet, landscape iPad, lo-res laptops ands desktops  */
@media (min-width: 992px) {
  .resume-column {
    padding: 1%; }
  #about {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
  .about-text {
    padding-left: 0px; }
  .syn {
    padding-top: 2%;
    background: url(../images/syenny.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
  .about-text {
    text-align: left; }
  .nav > ul > li > a {
    font-size: 1.3em; } 
}

/* LARGE big landscape tablets, laptops, and desktops */
@media (min-width: 1200px) {
  .name {
    font-size: 2em; }
  .hero {
    background-attachment: fixed; }
  #about {
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; } 
}
